.app__wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr;
  gap: 15px;

  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
}
